 .header1{
    background-color: #1c335f;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    
    }

    .header1 .logo_egypt{
        display: flex;
        left: 20%;
        align-items: center;
        margin-left:  150px;
   
    }
    .header1 .logo_egypt a{
        padding: 25px;
        transition: all 0.3s; 
    } 
    .header1 .logo_egypt a:hover{
        color:rgb(116, 116, 243);
    }
 .header1 .logo_egypt img{
        width: 40px;
        height: 40px;   
        
    }
.header1 .logo_egypt{
    color: white;
} 
 .header1 .logo_app img{
        width: 20px;
        height: 20px;   
        margin-left: 10px; 
        justify-content: space-between;
    }

 .header1 .language{
        display: flex;
        margin-left: 500px;
    }
 .header1 .language img {
        width: 33px;
        height: 33px;   
        align-items: center;
        margin: 3px;
    }
 .header1 .language p{
    color: white;
    margin-top: 7px;
    }
    
.header2{
    display: flex;
    height: 90px;
    align-items: center;
}
.header2 .Content h2{
    color:#1c335f;
    padding: 40px;
    font-size: large;
    margin-left: 150px;
}
.header2 .Ums img{
    width: 100;
    height: 100px;   
    margin-left: 100px;
}
.body img{
  width: 100px;
  height: 550px;   
}
.body .active h2{
    margin-bottom: 30px;
    margin-left: 350px;
    font-size: xxx-large;
}
.body .active h6{
    margin-bottom: 100px;
    margin-left: 350px;
 
}


.body .active a{
    border-radius: 30px;
    color: #ffffff;
    width: 70px;
    padding: 10px 100px;
    background-color:black;
    font-size: large;
    box-shadow: 2px 4px 15px rgb(116, 116, 243);
    margin-left: 350px;
  }
  .body .active a:hover{
    background-color:rgb(116, 116, 243);
  }


.pagetwo .Allchose{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
.pagetwo .Allchose .Image{
    background-color:#1c335f;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding:60px;
    border-radius: 40px;
    transition: all 0.3s;
  }
  .pagetwo .Allchose .Box:hover .Image {
    transform: scale(1.1);
    background-color:gray;
  }

  .pagetwo .Allchose .Image h5{
    display: flex;
    justify-content: center;
    align-items: center;
     }
   
.pagetwo .Allchose .Image img{
    max-width: 70px;
    max-height: 130px;
   border-radius: 110px;
   margin-top:-40px ; 
  }
.pagetwo .Allchose .Box{
    color: #ffffff;
    background-color:#1c335f;
    max-width: 30%;
    margin:15px 20px;
    border-radius: 25px;
}
.Page_Three{
 background-color: #ffffff;
 display: flex;
 align-items: center;
 justify-content: center;   
}
.Page_Three .Photo_login img{
    width: 700px;
    height: 700px;
}
.Page_Three .login{
    width: 500px;
    height: 500px;
    align-items: center;
    display: flex;
}
.Page_Three .login h2{
font-size: 50px;
  color:#1c335f;
  padding: 5px;
  margin-bottom: 30px;
}
.Page_Three .login .error {
    color: red;
  }
.Page_Three .login .success {
    color: green;
}
.Page_Three .login .elem-access {
    width: 300px;
    font-size: 18px;
    border-bottom: 1px solid #000;
    padding: 10px;

  }
  .Page_Three .login .login-btn{
  width: 200px;
  height: 40px;
  color: white;
  background-color:#1c335f;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 50px;
  transition: all 0.7s;
} 
.login-btn:hover {
   transform: scale(1.1);
  }
  .Page_Four .title h1{
    padding: 50px;
  } 
 .Page_Four .Searching a{
   color:black;
   text-align: center;
   padding: 4px;
   transition: all 0.3s;
 } 
 .Page_Four .Searching a:hover{
  color:blue;
 }
 .Boody{
    height: 400px;
    background-color: #1c335f;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
 }
 .circular-progress{
   position: relative;
   height: 200px;
   width: 200px;
   border-radius: 50%;
   background-color: white;
   background: conic-gradient(white 230deg,green 0deg);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 40px; 
 }
 .circular-progress::before{
    content: "";
    position: absolute;
    height: 185px;
    width: 185px;
    border-radius: 50%;
    background-color:#1c335f;
 }
 .progress-value{
    position: relative;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
 }
.text{
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
   margin: 90px;
}

.text1{
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    
}

.text2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 200;
    margin-left: -20px;
}

.text3{
    color: #ffffff;
    font-size: 25px;
    font-weight: 100;  
}

